.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100px;

  &__value {
    width: 100px;
    background-color: rgb(73, 70, 70);
    border-radius: 8px;
    color: #fff;
    font-size: 50px;
  }

  &__label {
    font-size: 20px;
    padding: 5px 8px;
    border-radius: 6px;
    background-color: #fff;
    color: rgb(73, 70, 70);
  }
}
